<h2>All Pokemon</h2>
<div class="pokemon">
<p class="pokemon"><a href='/pokemons/new'>New Pokemon</a></p>
<% @pokemon.each do |pokemon|%>
  <p class="pokemon">
<a href="/pokemons/<%= pokemon.id %>"><%= pokemon.name %></a>
  </p>
<% end %>
</div>
