<h2>New Pokemon</h2>

<form action="/pokemons" method="post" >

  <p>Name: <input name="pokemon[name]"></p>

  <p>Pokemon Type: <input name="pokemon[poke_type]"></p>

  <p>Combat Power: <input name="pokemon[cp]"></p>

  <input type="submit" value="Create">
</form>
